.charging--btn {
    background-color: var(--color-hover);
       box-shadow: 10px 15px 25px -10px rgba(73, 2, 69, 1),
       -10px 15px 25px -10px rgba(73, 2, 69, .8);
    color: transparent;
    transition: all .1s ease-in-out;
    display: grid;
    place-items: center;
}

.active {
    animation: circle 1s linear infinite;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-image: linear-gradient(yellow, red, orange);
    position: absolute;
    width: 40px;

    &::after {
        aspect-ratio: 1/1;
        background-color: var(--color-hover);
        border-radius: 50%;
        content: '';
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        width: 70%;
    }
}

.hiden{
    display: none;
}

@keyframes circle {
    100% {
        transform: rotate(360deg);
    }
}